## Import relevant libraries

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Load the data

In [3]:
data_preprocessed=pd.read_csv('Absenteeism_preprocessed.csv')

In [4]:
data_preprocessed

,reason_1,reason_2,reason_3,reason_4,Month Value,Day Of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

## Create the targets

In [5]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

### moderately absent class(<= 3hrs)
### excessively absent class(>= 4hrs)

## Create Targets

In [7]:
targets=np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [8]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [9]:
data_preprocessed['Excessive Absenteeism']= targets

In [10]:
data_preprocessed.head(20)

,reason_1,reason_2,reason_3,reason_4,Month Value,Day Of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
5,0,0,0,1,7,4,179,51,38,239.554,31,0,0,0,2,0
6,0,0,0,1,7,4,361,52,28,239.554,27,0,1,4,8,1
7,0,0,0,1,7,4,260,50,36,239.554,23,0,4,0,4,1
8,0,0,1,0,7,0,155,12,34,239.554,25,0,2,0,40,1
9,0,0,0,1,7,0,235,11,37,239.554,29,1,1,1,8,1
10,1,0,0,0,7,0,260,50,36,239.554,23,0,4,0,8,1
11,1,0,0,0,7,1,260,50,36,239.554,23,0,4,0,8,1
12,1,0,0,0,7,2,260,50,36,239.554,23,0,4,0,8,1
13,1,0,0,0,7,2,179,51,38,239.554,31,0,0,0,1,0
14,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,4,1
15,1,0,0,0,7,4,246,25,41,239.554,23,0,0,0,8,1
16,0,0,0,1,7,4,179,51,38,239.554,31,0,0,0,2,0
17,0,0,1,0,7,0,179,51,38,239.554,31,0,0,0,8,1
18,1,0,0,0,7,3,189,29,33,239.554,25,0,2,2,8,1
19,0,0,0,1,8,2,248,25,47,205.917,32,0,2,1,2,0

In [11]:
targets.sum()/targets.shape[0]

0.45571428571428574

#### hence around 46% of targets are 1

## Creating checkpoint

In [12]:
data_with_targets=data_preprocessed.drop(['Absenteeism Time in Hours','Daily Work Load Average','Distance to Work','Day Of the Week'], axis=1)

In [13]:
data_with_targets.head()

,reason_1,reason_2,reason_3,reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

In [14]:
data_with_targets is data_preprocessed

False

#### False as one has less columns than the other

## Selecting the inputs for the Logistic regression

In [15]:
data_with_targets.shape

(700, 12)

In [16]:
data_with_targets.iloc[:,:-1]

,reason_1,reason_2,reason_3,reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [17]:
unscaled_inputs=data_with_targets.iloc[:,0:-1]

In [18]:
unscaled_inputs

,reason_1,reason_2,reason_3,reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

## Standardizing the data

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
##absenteeism_scaler=StandardScaler()

In [21]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns], axis=0)
        self.var_ = np.var(X[self.columns])
        return self

    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [22]:
unscaled_inputs.columns.values

array(['reason_1', 'reason_2', 'reason_3', 'reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [23]:
columns_to_omit = ['reason_1', 'reason_2', 'reason_3', 'reason_4','Education']

In [24]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [25]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [26]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [27]:
scaled_inputs=absenteeism_scaler.transform(unscaled_inputs)

In [28]:
scaled_inputs

,reason_1,reason_2,reason_3,reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [29]:
scaled_inputs.shape

(700, 11)

## Splitting the data for training and testing

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
train_test_split(scaled_inputs,targets)

[     reason_1  reason_2  reason_3  reason_4  Month Value  \
 618         0         0         0         1    -0.959313
 501         0         0         0         1     0.753746
 570         1         0         0         0    -1.530333
 681         1         0         0         0    -0.388293
 251         0         0         0         0     0.182726
 ..        ...       ...       ...       ...          ...
 596         1         0         0         0    -1.244823
 46          0         0         0         1     0.753746
 255         0         0         1         0     0.468236
 79          0         0         0         1     1.039256
 699         0         0         0         1    -0.388293

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 618               -0.654143  0.248310         1.002633          0 -0.919030
 501                0.387122  1.660180         1.237836          0  0.880469
 570               -0.654143 -1.006686        -1.819793          1 -0.919030
 681                0.040034  0.718933         0.297027          1  0.880469
 251                0.568211 -0.065439        -0.878984          0  2.679969
 ..                      ...       ...              ...        ...       ...
 596                0.040034 -1.320435        -0.643782          0 -0.019280
 46                -0.654143  0.248310         1.002633          0 -0.919030
 255                0.085306  3.385799        -1.114186          0  0.880469
 79                 0.568211 -0.065439        -0.878984          0  2.679969
 699                1.036026  0.562059        -0.408580          0 -0.019280

          Pets
 618 -0.589690
 501  0.268487
 570 -0.589690
 681  1.126663
 251 -0.589690
 ..        ...
 596  1.126663
 46  -0.589690
 255  0.268487
 79  -0.589690
 699  0.268487

 [525 rows x 11 columns],
      reason_1  reason_2  reason_3  reason_4  Month Value  \
 205         0         0         0         1    -0.388293
 605         0         0         0         1    -1.244823
 349         0         0         0         1     1.610276
 318         0         0         0         1     1.324766
 252         0         0         1         0     0.468236
 ..        ...       ...       ...       ...          ...
 409         0         0         0         1    -0.959313
 536         1         0         0         0     1.324766
 342         0         0         0         1     1.610276
 308         0         0         0         1     1.039256
 283         0         0         0         1     0.753746

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 205               -1.016322 -0.379188        -0.408580          0  0.880469
 605               -0.654143  0.248310         1.002633          0 -0.919030
 349               -1.574681  0.091435         0.297027          0 -0.919030
 318                0.387122  1.660180         1.237836          0  0.880469
 252                1.005844 -0.536062         0.767431          0  0.880469
 ..                      ...       ...              ...        ...       ...
 409                1.005844 -0.536062         0.767431          0  0.880469
 536               -1.574681  0.091435         0.297027          0 -0.919030
 342                0.190942  0.091435         0.532229          1 -0.019280
 308               -0.654143 -1.006686        -1.819793          1 -0.919030
 283                0.190942  1.032682         2.649049          0 -0.019280

          Pets
 205 -0.589690
 605 -0.589690
 349 -0.589690
 318  0.268487
 252  0.268487
 ..        ...
 409  0.268487
 536 -0.589690
 342  0.268487
 308 -0.589690
 283 -0.589690

 [175 rows x 11 columns],
 array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
        1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
        0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
        0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0]),
 array([0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
        0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1])]

In [32]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size=0.8, random_state=20)

In [33]:
print(x_train.shape,y_train.shape)

(560, 11) (560,)

In [34]:
print(x_test.shape,y_test.shape)

(140, 11) (140,)

## Logistic Regression with sklearn

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
from sklearn import metrics

## Training the model

In [37]:
reg=LogisticRegression()

In [38]:
reg.fit(x_train,y_train)

LogisticRegression()

In [39]:
reg.score(x_train,y_train)

0.7732142857142857

## Model has an accuracy of about 80%

## Creating a summary table with the coefficients and intercept

In [40]:
reg.intercept_

array([-1.6474549])

In [41]:
reg.coef_

array([[ 2.80019733,  0.95188356,  3.11555338,  0.83900082,  0.1589299 ,
         0.60528415, -0.16989096,  0.27981088, -0.21053312,  0.34826214,
        -0.27739602]])

In [42]:
unscaled_inputs.columns.values

array(['reason_1', 'reason_2', 'reason_3', 'reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [43]:
feature_name=unscaled_inputs.columns.values

In [44]:
summary_table=pd.DataFrame(columns=['Feature name'], data=feature_name)

In [45]:
summary_table['Coefficient']=np.transpose(reg.coef_)

In [46]:
summary_table

              Feature name  Coefficient
0                 reason_1     2.800197
1                 reason_2     0.951884
2                 reason_3     3.115553
3                 reason_4     0.839001
4              Month Value     0.158930
5   Transportation Expense     0.605284
6                      Age    -0.169891
7          Body Mass Index     0.279811
8                Education    -0.210533
9                 Children     0.348262
10                    Pets    -0.277396

In [47]:
summary_table.index=summary_table.index+1

In [48]:
summary_table

              Feature name  Coefficient
1                 reason_1     2.800197
2                 reason_2     0.951884
3                 reason_3     3.115553
4                 reason_4     0.839001
5              Month Value     0.158930
6   Transportation Expense     0.605284
7                      Age    -0.169891
8          Body Mass Index     0.279811
9                Education    -0.210533
10                Children     0.348262
11                    Pets    -0.277396

In [49]:
summary_table.loc[0]=['Intercept',reg.intercept_[0]]

In [50]:
summary_table=summary_table.sort_index()

In [51]:
summary_table

              Feature name  Coefficient
0                Intercept    -1.647455
1                 reason_1     2.800197
2                 reason_2     0.951884
3                 reason_3     3.115553
4                 reason_4     0.839001
5              Month Value     0.158930
6   Transportation Expense     0.605284
7                      Age    -0.169891
8          Body Mass Index     0.279811
9                Education    -0.210533
10                Children     0.348262
11                    Pets    -0.277396

## Interpretting the coefficients

In [52]:
import numpy as np

In [53]:
summary_table['Odds_ratio']=np.exp(summary_table.Coefficient)

In [54]:
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -1.647455    0.192539
1                 reason_1     2.800197   16.447892
2                 reason_2     0.951884    2.590585
3                 reason_3     3.115553   22.545903
4                 reason_4     0.839001    2.314054
5              Month Value     0.158930    1.172256
6   Transportation Expense     0.605284    1.831773
7                      Age    -0.169891    0.843757
8          Body Mass Index     0.279811    1.322880
9                Education    -0.210533    0.810152
10                Children     0.348262    1.416604
11                    Pets    -0.277396    0.757754

In [55]:
summary_table.sort_values('Odds_ratio')

              Feature name  Coefficient  Odds_ratio
0                Intercept    -1.647455    0.192539
11                    Pets    -0.277396    0.757754
9                Education    -0.210533    0.810152
7                      Age    -0.169891    0.843757
5              Month Value     0.158930    1.172256
8          Body Mass Index     0.279811    1.322880
10                Children     0.348262    1.416604
6   Transportation Expense     0.605284    1.831773
4                 reason_4     0.839001    2.314054
2                 reason_2     0.951884    2.590585
1                 reason_1     2.800197   16.447892
3                 reason_3     3.115553   22.545903

In [56]:
summary_table.sort_values('Odds_ratio',ascending=False)

              Feature name  Coefficient  Odds_ratio
3                 reason_3     3.115553   22.545903
1                 reason_1     2.800197   16.447892
2                 reason_2     0.951884    2.590585
4                 reason_4     0.839001    2.314054
6   Transportation Expense     0.605284    1.831773
10                Children     0.348262    1.416604
8          Body Mass Index     0.279811    1.322880
5              Month Value     0.158930    1.172256
7                      Age    -0.169891    0.843757
9                Education    -0.210533    0.810152
11                    Pets    -0.277396    0.757754
0                Intercept    -1.647455    0.192539

In [57]:
# we can see that Daily Work Load Average, Distance to Work, Day Of the Week make less impact.
# so we drop the three variables in the 'Creating checkpoint' section

## Testing the model

In [58]:
reg.score(x_test,y_test)

0.75

In [59]:
# so our test accuracy is 75%

## Save the model

In [60]:
import pickle

In [61]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [62]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)